body {
  background-image: url(./todolist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: 'Noto Serif', serif;
  text-align: center;
}

/* 0.9 no se nota */
button:hover {
  opacity: 0.5;
}

.boton-agregar {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(40, 53, 147);
  color: white;
}

.boton-editar {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(46, 125, 50);
  color: white;
}

.boton-remover {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(255, 6, 46);
  color: white;
}

h1 {
  color: rgb(31, 97, 141);
  text-shadow: 2px 2px 8px #D35400;
}

.input {
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: white;
  font-size: 18px;
  margin: 5px;
  padding: 0 20px;
}