body {
  background: rgb(27,49,82);
}

* {
  font-family: 'Noto Serif', serif;
  text-align: center;
}

/* 0.9 no se nota */
button:hover {
  opacity: 0.5;
}

.boton-agregar {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(255, 6, 46);
  color: white;
}

.boton-editar, .boton-remover {
  margin: 0 5px;
  border: none;
}

.boton-editar{
  color: #62d0ff;
  width: 30px;
  background: none;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.boton-remover {  
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background: rgb(255, 6, 46);
  font-size: 20px;
}

h1 {
  color: white;
}

.input, .item-input {
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  text-align: start;
  font-size: 18px;  
}

.input {
  width: 450px;
  border: none;
  background: white;
  margin: 5px;
  outline: none;
}

.item-input {
  width: 350px;
  border: solid white 1px;
  color: white;
  background: none;
}

.item, .input-div {
  margin-bottom: 10px;
}